html {
  scroll-behavior: smooth;
  overflow: hidden;
  height: 100%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position:relative;
  font-style: normal;
  font-weight: 300;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

@font-face {
  font-family: fonarto;
  src: url(fonarto.ttf);
}


p {
  display: block;
  overflow: visible;
  z-index: 99;
  margin: 0;
}

div {
  overflow-y: auto;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}


#titleContainer {
  display: flex;
  margin-left: 2%;
  color: #eeeeee;
  z-index:99;
  margin-top: 20px;
}

#menuContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  font-family: fonarto;
  font-size: 45px;
  margin-right: 2%;
  margin-bottom: 20px;
  color: #eeeeee;
}


#title {
  margin: 0;
  align-self: left;
  font-size: 50px;
  color: #eeeeee;
  font-family: fonarto;
}

.buttons {
  text-align: right;
}